@{
    ViewBag.Title = "Order";
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}
@using Coffee_Hub.Models
@model List<order>
<style>
    p {
        font-size: large;
    }
</style>
<h2 style="color: #bfcb75; text-align: center">Orders Delivered</h2>
<div>

    @foreach (order order in Model)
    {

        <div class="well well-lg col-lg-5 col-md-offset-3">

                <p>Order Id : @order.Id </p>
                <p>Name : @order.name </p>
                <p>Email : @order.email </p>
                <p>Address : @order.address</p>
                <p>Status: Deliverd</p>
                @foreach (var orderMenu in order.OrderMenus)
                {
                    <p>@orderMenu.menu.name : @orderMenu.quantity</p>
                }
        </div>


    }
</div>